{% extends 'layouts/interno.html' %}

{% block body %}

<div class="container">

    <div class="card mt-5">
        <div class="card-header">{{ titulo }}</div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="{{ form_busca.nome.id_for_label }}">{{ form_busca.nome.label }}</label>
                            <input type="{{ form_busca.nome.widget_type }}" id="{{ form_busca.nome.auto_id }}" name="{{ form_busca.nome.name }}" class="form-control" value="{{ form_busca.nome.value|default_if_none:'' }}">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="{{ form_busca.sigla.id_for_label }}">{{ form_busca.sigla.label }}</label>
                            <input type="{{ form_busca.sigla.widget_type }}" id="{{ form_busca.sigla.auto_id }}" name="{{ form_busca.sigla.name }}" class="form-control" value="{{ form_busca.sigla.value|default_if_none:'' }}">
                        </div>
                    </div>
                </div>
                


                
                <input type="submit" value="Pesquisar" class="btn btn-primary">
                <a href="{% url 'gestao_acesso:sistemas:create' %}" class="btn btn-primary">Novo</a>
            </form>
        </div>
    </div>

    {% if sistemas %}
        <table class="table table-hover mt-3">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sigla</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for sistema in sistemas %}
                    <tr>
                        <td>{{ sistema.nome }}</td>
                        <td>{{ sistema.sigla }}</td>
                        <td>
                            <a href="{% url 'gestao_acesso:sistemas:update' sistema.id %}" class="btn btn-primary">Editar</a>
                            <a href="{% url 'gestao_acesso:sistemas:delete' sistema.id %}" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        Não há sistemas cadastrados
    {% endif %}



</div>

{% endblock body %}